@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One&display=swap');
/* настройки страницы */
* {
    margin: 0;
    padding: 0;
    outline: none;
}

/* Настройки шрифта для заголовков */
h1, h3 {
    font-family: 'Roboto slab', serif;
    font-weight: lighter;
}

h2, h4, h5 {
    font-family: 'Roboto', serif;
}

/* настройки для body и html */
body, html {
    width: 100%;
    height: 100%;
}

/* тут задается цвет и шрифт по-умолчанию для body */
body {
    background-color: #fafafa;
    font-family: Trebuchet MS, serif;
}

/* настройки заголовка, padding - отступ, position: fixed для закрепления заголовка при скроллинге */
header {
    width: 100%;
    padding: 10px 0.5% 0 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

/* Настройки для логотипа */
header #logo {
    color: #121212;
    cursor: pointer;
}

/* Настройки конкретно для текста */
header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}

/* media-теги для адаптивности, если ширина сайта больше 701px, то применяется следующий стиль */
@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 67%;
    }
}

/* если ширина сайта меньше 700px, то применяется следующий стиль */
@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }

    #about {
        float: left;
        width: 100%;
    }
}

/* настройки для блока about */
#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

/* настройки для ссылок блока about */
#about > a {
    color: #121212;
}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: underline;
}

/* настройка расстояния между ссылками на разделы, кроме последнего элемента */
#about > a:not(:last-child) {
    margin-right: 3%;
}

/* стиль для шапки при скроллинге, z-index для перекрывания */
.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}

.fixed #about a {
    color: #343434
}

.fixed #about a:hover {
    color: #7c7c7c
}

/* Настройка для блоков (возможности, продукты, карьера) */
#admin {
    min-height: 55%;
    padding: 100px 40%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}

/* Настройка шрифтов для разделов */
#admin h2 {
    font-size: 3em;
    padding-bottom: 20px;
}

#admin span {
    color: #565656;
}


footer {
    padding: 15px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 0.8em;
}

/* главный блок на сайте */
/* background-blend-mode для наложения цвета на картинку */

/*@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One&display=swap');*/
/*/* настройки страницы */*/
/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    outline: none;*/
/*}*/
/**/
/*/* Настройки шрифта для заголовков */*/
/*h1, h3 {*/
/*    font-family: 'Roboto slab', serif;*/
/*    font-weight: lighter;*/
/*}*/
/**/
/*h2, h4, h5 {*/
/*    font-family: 'Roboto', serif;*/
/*}*/
/**/
/*/* настройки для body и html */*/
/*body, html {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/**/
/*/* тут задается цвет и шрифт по-умолчанию для body */*/
/*body {*/
/*    background-color: #fafafa;*/
/*    font-family: Trebuchet MS, serif;*/
/*}*/
/**/
/*/* настройки заголовка, padding - отступ, position: fixed для закрепления заголовка при скроллинге */*/
/*header {*/
/*    width: 100%;*/
/*    padding: 10px 0.5% 0 0.5%;*/
/*    background: transparent;*/
/*    float: left;*/
/*    position: fixed;*/
/*}*/
/**/
/*/* Настройки для логотипа */*/
/*header #logo {*/
/*    color: #121212;*/
/*    cursor: pointer;*/
/*}*/
/**/
/*/* Настройки конкретно для текста */*/
/*header #logo span {*/
/*    font-size: 1.7em;*/
/*    line-height: 45px;*/
/*    margin-left: 40px;*/
/*    font-family: 'Suez One', serif;*/
/*}*/
/**/
/**/
/*#admin {*/
/*    min-height: 300px;*/
/*    padding: 100px 20%;*/
/*    width: 60%;*/
/*    float: left;*/
/*    background-color: RGB(240,240,240);*/
/*    border-top: 2px solid silver;*/
/*    color: #484848;*/
/*    font-size: 1.3em;*/
/*}*/
/**/
/**/
/*#admin h2, #products h2, #career h2 {*/
/*    font-size: 3em;*/
/*    padding-bottom: 20px;*/
/*}*/
/**/
/*#admin span, #products span, #career span {*/
/*    color: #565656;*/
/*}*/
